html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}
.leaflet-popup-content {
    font-size: 1em;
    line-height: 1.4;
    max-height: 300px;
    overflow-y: auto; /* Add this to enable scrolling */
}
.popup-title {
    font-weight: normal;
    font-size: 1.1em;
    color: #2c3e50;
}
.popup-date {
    color: #444;
    font-size: 1.08em;
    font-weight: bold;
}
.popup-place.place-city {
    color: #e67e22;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.popup-place.place-other {
    color: #8e44ad;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.popup-event {
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
}
.event-id {
    color: #444;
    font-size: 0.95em;
    font-style: italic;
    margin-bottom: 0.5em;
    margin-top: -0.2em;
    letter-spacing: 0.5px;
    display: block;
} 