.popup-place {
    color: #8e44ad;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.event-id {
    color: #7c6bb0;
    font-size: 0.95em;
    font-style: italic;
    margin-bottom: 0.5em;
    margin-top: -0.2em;
    letter-spacing: 0.5px;
    display: block;
} 